h1{
  text-align: center;
  font-size:50px !important;
}

.list2{
  margin-right:0px;
  display:flex;
  flex-direction: column;;
  justify-content:center;
  align-items: center;
}

.list-size{
  width:50%;
}